/* CSS basic */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin: 0; padding: 0; }
fieldset,img{ border: 0; }
:focus{ outline: 0; }
address,caption,cite,code,dfn,em,strong,th,var,optgroup{ font-style: normal; font-weight: normal; }
h1,h2,h3,h4,h5,h6{ font-size: 100%; font-weight: normal; font-family: "Microsoft YaHei"; }

input,button,textarea,select{ *font-size: 100%; border:none;}
body{ background:#fff; color:#333333; font: 12px/1.6 tahoma,arial,宋体 }


ol,ul{ list-style: none; }
table{ border-collapse: collapse; border-spacing: 0; }
input,textarea {outline:none;}
:link, :visited, ins{ text-decoration: none; }
.rel{position: relative;}
.abs{position: absolute;}
.wrapper{width: 920px;margin: 0 auto;position: relative;}
.inwrap {margin-left: 220px;width: 980px;}
.mr5{margin-right: 5px!important;}
.mr10{margin-right: 10px!important;}
.fl{float: left;}.fr{float: right;}
body a:hover{transition : color 0.2s linear 0s,background-color 0.3 linear 0s;}
.bdshare-slide-button-box{z-index: 12}
/**clear float**/
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
/* html5 */
header, section, footer, aside, nav, main, article, figure{
	display: block;
} 

/*** FONTS STYLE ****/
.icons{
	display:inline-block;*display:inline;*zoom:1;
	font-style: normal;
}
/* mui-global-iconfont */
		@font-face{
			font-family:mui-global-iconfont;
			src:url(../fonts/mui-global-iconfont/font_1401963178_8135476.eot);
			src:url(../fonts/mui-global-iconfont/font_1401963178_8135476.eot?#iefix) format('embedded-opentype'),
			    url(../fonts/mui-global-iconfont/font_1401963178_8135476.woff) format('woff'),
			    url(../fonts/mui-global-iconfont/font_1401963178_8135476.ttf) format('truetype'),
			    url(../fonts/mui-global-iconfont/font_1401963178_8135476.svg#iconfont) format('svg')
			}
		.icon-global{
			font-family: mui-global-iconfont !important;
			font-size: 22px;
		}
		/* tm-fp-font */
		@font-face{
			font-family:tm-fp-font;
			src:url(../fonts/tm-fp-font/font_1402326581_881551.eot);
			src:url(../fonts/tm-fp-font/font_1402326581_881551.eot?#iefix) format('embedded-opentype'),
			    url(../fonts/tm-fp-font/font_1402326581_881551.woff) format('woff'),
			    url(../fonts/tm-fp-font/font_1402326581_881551.ttf) format('truetype'),
			    url(../fonts/tm-fp-font/font_1402326581_881551.svg#iconfont) format('svg')
			}
		.icon-fp{
			font-family: tm-fp-font !important;
			font-size: 32px;
		}

		/* mbar-font */
		@font-face{
			font-family:mbar-font;
			src:url(../fonts/mbar-font/font_1395891005_6336203.eot);
			src:url(../fonts/mbar-font/font_1395891005_6336203.eot?#iefix) format('embedded-opentype'),
				url(../fonts/mbar-font/font_1395891005_6534138.woff) format('woff'),
				url(../fonts/mbar-font/font_1395891005_6049185.ttf) format('truetype'),
				url(../fonts/mbar-font/font_1395891005_859126.svg#iconfont) format('svg')
			}
		.icon-mbar{
			font-family: mbar-font !important;
			font-size: 32px;
		}
		/* vip-font */
		@font-face{
        	font-family:vip-font;
	        src:url(../fonts/vip-font/font_1403509860_7542067.eot);/* IE9*/
	        src:url(../fonts/vip-font/font_1403509860_7542067.eot?#iefix) format('embedded-opentype'),/* IE6-IE8 */
	        url(../fonts/vip-font/font_1403509860_7542067.woff) format('woff'),/* chrome、firefox */
	        url(../fonts/vip-font/font_1403509860_7542067.ttf) format('truetype'),/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	        url(../fonts/vip-font/font_1403509860_7542067.svg#iconfont) format('svg') /* iOS 4.1- */
	    }
	    .icon-vip{
			font-family: vip-font !important;
	    	font-size: 32px;
	    }
	    /* chaoshi */
	    @font-face{
			font-family:iconfont-chaoshi;
			src:url(../fonts/iconfont-chaoshi/font_1397726413_0669491.eot);
			src:url(../fonts/iconfont-chaoshi/font_1397726413_0669491.eot?#iefix) format('embedded-opentype'),
			url(../fonts/iconfont-chaoshi/font_1397726413_0933702.woff) format('woff'),
			url(../fonts/iconfont-chaoshi/font_1397726413_0387797.ttf) format('truetype'),
			url(../fonts/iconfont-chaoshi/font_1397726413_1751804.svg#iconfont) format('svg')
		}
		.icon-chaoshi{
			font-family: iconfont-chaoshi !important;
			font-size: 28px;
		}
		/********** taobao-fonts **********/
		@font-face{
			font-family:taobao-global-iconfont;
			src:url(../fonts/taobao-fonts/global-iconfont/iconfont.eot);
			src:url(../fonts/taobao-fonts/global-iconfont/iconfont.eot?#iefix) format('embedded-opentype'),
			url(../fonts/taobao-fonts/global-iconfont/iconfont.woff) format('woff'),
			url(../fonts/taobao-fonts/global-iconfont/iconfont.ttf) format('truetype'),
			url(../fonts/taobao-fonts/global-iconfont/iconfont.svg#iconfont) format('svg')
		}
		.taobao-icon-iconfint{
			font-family: taobao-global-iconfont;
			font-size: 22px;
		}
		/*  */
		@font-face{
			font-family:taobao-logistics-iconfont;
			src:url(../fonts/taobao-fonts/logistics-iconfont/font_1396527298_7605236.eot);
			src:url(../fonts/taobao-fonts/logistics-iconfont/font_1396527298_7605236.eot?#iefix) format('embedded-opentype'),
			url(../fonts/taobao-fonts/logistics-iconfont/font_1396527298_7605236.woff) format('woff'),
			url(../fonts/taobao-fonts/logistics-iconfont/font_1396527298_7605236.ttf) format('truetype'),
			url(../fonts/taobao-fonts/logistics-iconfont/font_1396527298_7605236.svg#iconfont) format('svg')
		}
		.taobao-icon-logistics{
			font-family: taobao-logistics-iconfont;
			font-size: 22px;
		}
		/* mticonfont */
		@font-face{
			font-family:taobao-mticonfont;
			src:url(../fonts/taobao-fonts/mticonfont/iconfont.eot);
			src:url(../fonts/taobao-fonts/mticonfont/iconfont.eot?#iefix) format('embedded-opentype'),
			url(../fonts/taobao-fonts/mticonfont/iconfont.woff) format('woff'),
			url(../fonts/taobao-fonts/mticonfont/iconfont.ttf) format('truetype'),
			url(../fonts/taobao-fonts/mticonfont/iconfont.svg#iconfont) format('svg')
		}
		.taobao-icon-mticonfont{
			font-family: taobao-mticonfont;
			font-size: 22px;
		}

/*** header style ***/
header{}
h1.headerTit{
	font-size: 18px;
	height: 42px;
	line-height: 42px;
	color: #c40000;
}
h1.toolsTit{
	font-size: 50px;
	text-align: center;
}
h1.toolsTit+p{
	text-align: center;
	font-size: 14px;
	line-height: 32px;
	color: #333;
}
/*** main style ***/
main{}
main h2{
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #e4e4e4;
}
main section{
	padding-top: 20px;
}

figure{text-align: center;padding: 12px 40px;margin: 0;}
figcaption{font-size: 14px;font-weight: bold;color: #000;}

table{width: 800px;margin: 0 auto;}
table th,table td{	width: 20%;	border:1px solid #e4e4e4;	text-align: center;}
table th{height: 32px;background-color: #f4f4f4;}
table td{height: 88px;line-height: 44px;overflow: hidden;font-size: 18px;color: #000;}
table td i{color: #c40000;}


/* tutorial */
#tutorial{

}
#tutorial .tac{
	text-align: center !important;
	font-weight: 400 !important;
}
#tutorial .articleTitle{
	height: 32px;
	position: relative;
	text-indent: 28px;
	font: 16px/32px "微软雅黑";
}
#tutorial .articleTitle .articleTags{
	left: 0;
	bottom: 0;
	height: 22px;
	line-height: 22px;
	text-align: left;
	color: #c40000!important;
	font-size: 16px!important;
	display: block;
}
#tutorial .articleTitle .articleTags i{
	color: #c40000;
	font-size: 16px;
	margin: 0;padding: 0;
	margin-right: 6px;

}
#tutorial section{
	padding-top: 16px;
}
#tutorial section a{
	color: #29B4F0;
	margin: 0 5px;
}
#tutorial article{
	width: 782px;
	padding:4px 18px;
	margin-top: 12px;
	margin-left: 100px;
	border-left: 3px solid #b3c4e8;
	position: relative;
	font:14px/24px "微软雅黑";
}
#tutorial article figure{
	width: 702px;
	overflow: hidden;
}
#tutorial article figure img{
	width: 100%;
}

#tutorial article .arctile-list{
	padding-left: 1em;
}
#tutorial article .arctile-list li{
	font:14px/24px "微软雅黑";
}
#tutorial article .arctile-list i{
	color: #c40000;
	font-size: 16px;
	margin-right: 6px;
}
#tutorial article h3,#tutorial article h4{
	font-size: 18px;margin-bottom: 2px;margin-top: 8px;
	line-height: 30px;font-weight: bold;color: #51b148;
}
#tutorial article h4{
	font-size: 16px;
}
#tutorial article p{
	text-indent: 2em;
}
#tutorial article p.readmore{
	text-align: right;
}
#tutorial article p.readmore a{
	padding-right: 20px;
}
#tutorial article p.readmore a:hover{
	padding-right: 10px;
	text-decoration: underline;
}
#tutorial article .arctile-showTime{
	position: absolute;
	top: -2px;
	left: -90px;
	background-color: #b3dae9;
	width: 60px;
	height: 60px;
	padding: 4px;
	border-radius: 3px;
}
.arctile-showTime .arctile-timer{
	width: 60px;
	height: 60px;
	color: #fff;
	font:bold 16px/30px "微软雅黑";
	text-align: center;
	overflow: hidden;
}
.arctile-showTime .arctile-timer .arctitle-year{
	display: block;
	font-size: 24px;

}
.arctile-showTime .icon_arrow{
	border-color: transparent transparent transparent #b3dae9;
    border-style: dashed dashed dashed solid;
    border-width: 8px;
    height: 0;
    right: -16px;
    position: absolute;
    top: 10px;
}
.arctile-showTime .round-dot{
	width: 8px;
	height: 8px;
	border: 2px solid #75d8fa;
	border-radius: 50%;
	background-color: #b3dae9;
	position: absolute;
	top: 12px;
	right: -27px;
	z-index: 1;
}
/**/
#tutorial .sourceLink{
	width: 46px;
	height: 46px;
	text-align: center;
	overflow: hidden;
	position: absolute;
	left: -80px;
	top: 88px;
}
#tutorial .sourceLink a{
	font-size: 36px;
	margin: 0;
	padding-top: 12px;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	-o-transition: -o-transform .2s linear;
	transition: transform .2s linear;
}
#tutorial .sourceLink:hover a{
	-webkit-transform: scaleX(1.15) scaleY(1.15);
	-moz-transform: scaleX(1.15) scaleY(1.15);
	-ms-transform: scaleX(1.15) scaleY(1.15);
	-o-transform: scaleX(1.15) scaleY(1.15);
	transform: scaleX(1.15) scaleY(1.15);
}




/*** footer style ***/
footer{}
.copyright{
	margin-top: 20px;
	padding: 20px 0;
	border-top: 1px solid #e4e4e4;
	text-align: right;
}
.copyright a{
	color: #333;
}
.copyright a:hover{
	color: #c40000;
}

/*** floatNav style ***/
.floatNav {
	position: fixed;
	top: 90px;
	left: 50%;
	margin-left: 460px;
	border: 1px solid #e4e4e4;
	width: 100px;
	background-color: #fff;
}
.floatNav a{
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	color: #404040;
	text-align: center;
	border-top: 1px solid #e4e4e4;
	display: block;
}
.floatNav a.navTitle{
	border-top: 0;
	font-size: 14px;
	font-weight: bold;
}
.floatNav a.goTop{
	display: none;
}
.floatNav a:hover{
	color: #c40000;
	background-color: #f9f9f9;
}
.floatNav a.navTitle:hover{
	background-color: #fff;
	color: #404040;
}